In [147]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

df = pd.read_csv(r"C:\Users\md747\Downloads\test_housing - Sheet1.csv")

In [148]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
3994,-118.57,34.17,35,2072,318.0,908,342,6.0928,327300,<1H OCEAN
3995,-118.58,34.17,29,3393,574.0,1471,587,6.2064,334900,<1H OCEAN
3996,-118.59,34.18,7,11853,2691.0,4404,2447,4.2009,271300,<1H OCEAN
3997,-118.61,34.17,19,5944,1345.0,2372,1250,3.8819,328900,<1H OCEAN
3998,-118.62,34.17,32,1491,355.0,756,296,3.0404,262800,<1H OCEAN